[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Albion Online
GenericName=MMORPG
Comment=Play Albion Online!
Icon=/home/jhagas/albiononline/AlbionOnline.xpm
Exec="/home/jhagas/albiononline/Albion-Online"
Categories=Game
StartupWMClass=Albion-Online
Path=/home/jhagas/albiononline

